image: rust:latest

variables:
  CARGO_HOME: $CI_PROJECT_DIR/.cargo

before_script:
  - rustup target add wasm32-unknown-unknown
  # must keep this the same version as "wasm-bindgen" in Cargo.lock; an environment variable might be in order
  - cargo install -f wasm-bindgen-cli --version 0.2.87
  - curl -fsSL https://deb.nodesource.com/setup_19.x | bash
  - apt-get install -y nodejs
  - cd web; npm install -g npm; npm ci; cd ..

pages:
  stage: deploy
  script:
    - mkdir public
    - RUSTFLAGS=--cfg=web_sys_unstable_apis cargo build --release --target=wasm32-unknown-unknown
    - .cargo/bin/wasm-bindgen --no-typescript --out-dir ./web/ --target web target/wasm32-unknown-unknown/release/cosmic-spaceball-tactical-action-arena.wasm
    - cd web; npm run build; cd ..
    - cp -r web/dist/* public/
    - cp -r assets/ public/
    - gzip -9 --keep public/cosmic-spaceball-tactical-action-arena_bg.*.wasm
  artifacts:
    paths:
      - public
  only:
    - master
  rules:
    - if: '$CI_MERGE_REQUEST_LABELS =~ /Do Not Deploy/'
      when: never
    - when: always
  cache:
    key: cargo_caches
    paths:
      - .cargo
      - target

# Partially snagged from https://gitlab.com/gitlab-org/gitlab-ce/issues/26621#note_126279584
  
pages:review:
  extends: pages
  only:
    refs:
      - merge_requests
  except:
    - master
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$CI_PROJECT_NAMESPACE.gitlab.io/-/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/public/index.html
