[package]
name = "cosmic_spaceball_tactical_action_arena"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[target.'cfg(not(target_arch = "wasm32"))'.dependencies.bevy]
features = ["dynamic"]
version = "0.7"

[dependencies]
bevy = "0.7"

[profile.release]
opt-level = 's'
lto = 'thin'
